.bank-login-stepper
  > .ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-tail::after,
.bank-login-stepper
  > .ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background: #fff !important;
}

.bank-login-stepper
  > .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background: #fe82ae !important;
}

.bank-login-stepper
  > .ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: #fff !important;
}

.bank-login-stepper
  > .ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: #fff !important;
}

.bank-login-stepper
  > .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: #fff !important;
}

.bank-login-stepper
  .ant-steps-item-process
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot,
.bank-login-stepper
  .ant-steps-item-finish
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background: #fe82ae !important;
}

.bank-login-stepper
  .ant-steps-item-wait
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background: #fff !important;
}

.bank-login-stepper.ant-steps-label-vertical .ant-steps-item-content {
  margin-top: 6px !important;
}
