.back-button {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 30px;
  height: 30px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.back-button:hover {
  background: #f5f7fe;
}
